[project]
	description = The Prevalent Http Server
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Sandro Bihaiko (bihaiko)
[access "refs/for/refs/*"]
	read = group user/Sandro Bihaiko (bihaiko)
	push = group user/Sandro Bihaiko (bihaiko)
	label-Code-Review = -2..+2 group user/Sandro Bihaiko (bihaiko)
	label-Verified = -1..+1 group user/Sandro Bihaiko (bihaiko)
	rebase = group user/Sandro Bihaiko (bihaiko)
	removeReviewer = group user/Sandro Bihaiko (bihaiko)
	submit = group user/Sandro Bihaiko (bihaiko)
[access "refs/heads/*"]
	read = group user/Sandro Bihaiko (bihaiko)
	create = group user/Sandro Bihaiko (bihaiko)
	push = +force group user/Sandro Bihaiko (bihaiko)
	pushMerge = group user/Sandro Bihaiko (bihaiko)
[access "refs/tags/*"]
	push = +force group user/Sandro Bihaiko (bihaiko)
	pushTag = group user/Sandro Bihaiko (bihaiko)
	pushSignedTag = group user/Sandro Bihaiko (bihaiko)
